In [ ]:
import os

In [ ]:
directory = f'/Users/lilimatic/greenspace'
os.chdir(directory)

In [3]:
from functions.data import df
from functions.function import contingencytab

In [4]:
book ='crosstab/crosstab_age/crosstab_app_age'

In [5]:
#Questions of interest

#App and age

age = ['Age ']

app_related = ['Would you be interested in technology that would allow you to know how many people are in a specific place you would like to go?',
              'If your identity was not revealed, would you want to provide your phone’s location (see question 10)?'
              ]

In [6]:
for x in age:
    for y in app_related:
        a,b = contingencytab(x,y,book)
        display(a,b)

Age  VS Would you be interested in technology that would allow you to know how many people are in a specific place you would like to go?

/Users/lilimatic/opt/anaconda3/lib/python3.8/site-packages/pandas/core/reshape/merge.py:643: UserWarning: merging between different levels can give an unintended result (1 levels on the left,2 on the right)
  warnings.warn(msg, UserWarning)

,No,Yes,All,"(Would you be interested in technology that would allow you to know how many people are in a specific place you would like to go?, No)","(Would you be interested in technology that would allow you to know how many people are in a specific place you would like to go?, Yes)","(Would you be interested in technology that would allow you to know how many people are in a specific place you would like to go?, All)"
Age,,,,,,
15-24,51,66,117,12.75,16.50,29.25
25-40,57,102,159,14.25,25.50,39.75
41-64,35,89,124,8.75,22.25,31.00
All,143,257,400,35.75,64.25,100.00

                Chi-square test  results
0  Pearson Chi-square ( 2.0) =    6.1876
1                    p-value =    0.0453
2                 Cramer's V =    0.1244

Age  VS If your identity was not revealed, would you want to provide your phone’s location (see question 10)?

/Users/lilimatic/opt/anaconda3/lib/python3.8/site-packages/pandas/core/reshape/merge.py:643: UserWarning: merging between different levels can give an unintended result (1 levels on the left,2 on the right)
  warnings.warn(msg, UserWarning)

,"No, not at all","Yes, at all time","Yes, while using the app",All,"(If your identity was not revealed, would you want to provide your phone’s location (see question 10)?, No, not at all)","(If your identity was not revealed, would you want to provide your phone’s location (see question 10)?, Yes, at all time)","(If your identity was not revealed, would you want to provide your phone’s location (see question 10)?, Yes, while using the app)","(If your identity was not revealed, would you want to provide your phone’s location (see question 10)?, All)"
Age,,,,,,,,
15-24,61,19,37,117,15.25,4.75,9.25,29.25
25-40,72,39,48,159,18.00,9.75,12.00,39.75
41-64,39,37,48,124,9.75,9.25,12.00,31.00
All,172,95,133,400,43.00,23.75,33.25,100.00

                Chi-square test  results
0  Pearson Chi-square ( 4.0) =   12.7180
1                    p-value =    0.0127
2                 Cramer's V =    0.1261